*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}


:root {
    --font-family: 'Poppins', sans-serif;
    --text: 400 1rem/1.5 var(--font-family);
    --text-sm: 400 0.875rem/1.4 var(var(--font-family));

    --text-primary: #292524;    
    --text-secondary: #57534E;
    --text-tertiary: #8f8881;
    --text-highlight: #e43a12;

    --surface-primary: #ffffff;
    --surface-secondary: #fee7d6;
    --surface-disabled: #e7e5e4;

    --stroke-default: #d6d3d1;
    --stroke-highlight: #f3541c;
    --semantic-error: #dc2626;

}

body {
    overflow: hidden;
    overflow-x: hidden;
    font: var(--text);
    color: var(--text-secondary);
}
html {
    overflow-x: hidden;
}

h1, h2 {
    color: var(--text-primary);
}

img {
    max-width: 100%;
    height: auto;
}

@media (width >= 80em){

    .flex {
        display: flex;
    }
    
    .flex-1{
        flex: 1;
    }
    
    .flex-2 {
        flex: 2;
    }
}
    
@media (width < 80em) {
    .flex-2 {
        margin-bottom: 20px;

    }
    body,
    html {
        overflow-x: hidden;
        max-width: 100%;
    }

}