#app {
    display: grid;
    grid-template-columns: 51.25% 48.75%;
    grid-template-areas: "main aside";
    height: 100vh;
    overflow: hidden;
}

main {
    overflow: auto;
    padding: 4rem;
    grid-area: main;

    & .main-container{
        max-width: 33rem;
        margin-left: auto;
    }

    & .back {
        display: flex;
        align-items: center;
        gap:  0.5rem;
        margin-bottom: 1.5rem;
    }

    & h1 {
        font: 600 1.5rem/1.25 var(--font-family);
        margin-bottom: 0.5rem;
    }
}

aside {
    background-color: var(--surface-secondary);
    padding: 4rem;
    grid-area: aside;

    & .aside-container {
        max-width: 31rem;

        & > img {
            margin-top: 2rem;
        }
    }

    & h2 {
        font: 600 2.5rem/1.25 var(--font-family);
        margin-bottom: .5rem;


        & span {
            color: var(--text-highlight);
        }
    }
}

@media (width < 80em) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    #app {
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
        grid-template-areas: 
        "aside"
         "main";

        height: auto;
        overflow: visible;
        width: 100%;
        margin: auto;

    }
    body {
        overflow: auto;
        overflow-x: hidden;
        margin: auto;
    }
    main {
        overflow: visible;
        overflow-x: hidden;
        max-width: 100%;

        & .main-container {
            max-width: 360px;
            width: 360px;
            margin: auto;
        }
    }
    input,
    textarea,
    select {
        max-width: 100%;
    }
    .dropzone {
    max-width: 100%;
    overflow: hidden;
    }   
    .dropzone svg {
        max-width: 100%;
    }

    aside {
        padding: 2rem;

    }
}